<h1><%= @post.title %> by <%= @post.author.username %> </h1>

<p>
  <%= @post.content %>
</p>

<a href="<%= new_post_comment_url(@post.id) %>">Reply</a>

<h3>Comments</h3>
<ul>
 <% @post.comments.where(parent_comment_id: nil).each do |comment| %>
  <p><li> <a href="<%= comment_create_url(comment.id) %>"><%= comment.content %></a> </li>
  <font size ="2">Posted by:<%= comment.author.username %> at <%= comment.created_at %></font>
    <ul>
      <% comment.child_comments.each do |child| %>
        <li> <%= child.content %> </li>
      <% end %>
    </ul>
 <% end %></p>
</ul>

<% @subs.each do |subreddit| %>
  <a href="<%= sub_url(subreddit.id) %>">Go to <%= subreddit.title %> </a>
  <br>
<% end %>
